.section-contact {
}

.contact-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  @include respondTo(phone) {
    flex-direction: column;
    padding: 4rem;
  }
}

.form-main-container {
  flex: 0 0 40%;

  &__p {
    font-size: 2.8rem;
    color: $color-white;
    text-decoration: underline;
  }
}

.form {
  background-color: $color-white;
  padding: 2rem 4rem;
  margin-top: 3.2rem;
  border-radius: 11px;

  @include respondTo(phone) {
    padding: 4rem 4rem;
  }

  &__label {
    display: block;
    color: #333;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    font-size: 2.2rem;
    font-weight: 500;

    @include respondTo(phone) {
      margin: 1rem 0 2rem 0;
    }
  }

  &__input {
    border: none;
    border-left: 4px solid rgba($color-background-blue-primary, 0.8);
    font-size: 1.6rem;
    padding: 0.4rem 0.4rem 0.4rem 0.6rem;
    border-radius: 2px;
    font-family: inherit;
    background-color: rgba($color-black, 0.1);
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__textarea {
    border: 0;
    border-left: 4px solid rgba($color-background-blue-primary, 0.8);
    font-size: 1.6rem;
    padding: 0.4rem 0.4rem 0.4rem 0.6rem;
    border-radius: 2px;
    font-family: inherit;
    background-color: rgba($color-black, 0.1);
    width: 100%;
    resize: none;
    scrollbar-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &__submit {
    position: relative;

    &--message {
      position: absolute;
      top: 12%;
      left: 26%;
      color: #333;
      background-color: $color-white;
      padding: 1rem 1rem;
      border: 1px solid rgba($color-background-blue-primary, 0.8);
      border-radius: 6px;
      font-size: 1.4rem;
      font-weight: 600;
      width: 50%;
      display: none;

      @include respondTo(phone) {
        display: block;
      }
    }

    &--btn {
      border: 0;
      font-size: 1.4rem;
      padding: 0.6rem 2rem;
      border-radius: 11px;
      text-transform: uppercase;
      margin-top: 2rem;
      background-color: rgba($color-background-blue-primary, 0.8);
      color: $color-white;
      font-weight: 700;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover + p {
        display: block;
      }
    }
  }
}

.contact-main-container {
  align-self: flex-start;

  &__p {
    font-size: 2.8rem;
    color: $color-white;
    text-decoration: underline;
  }

  &__links {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  &__link {
  }

  &__social {
  }
}

.author-text-container {
  &__heading {
    font-size: 2.8rem;
    color: $color-white;
    text-decoration: underline;
    margin: 4rem 0 2rem 0;
  }

  &__p {
    font-size: 2.2rem;
    color: $color-white;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
