/*********************************************
 *  Layout - Hero
 *********************************************/

.section-main {
  max-width: 120rem;
  margin: 0 auto;
  height: 90vh;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 50%;

  margin-bottom: 4rem;
}

.additional-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -4rem;

  &__down-icon {
    width: 6.4rem;
    height: 6.4rem;
    transform: rotate(10deg);

    margin-right: 6rem;
  }
}

/*********************************************
 *  EOF
 *********************************************/
