@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto+Mono:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  line-height: 1;
  font-weight: 400;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.92),
      rgba(0, 0, 0, 0.92)
    ),
    url(images/sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-section-div {
  height: 100vh;
  width: 130rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logo-img {
  width: 70%;
}

.primary-heading {
  color: #fff;
  font-size: 14rem;
  text-transform: uppercase;
}

.logo-name {
  display: inline-block;
  font-size: 10rem;
  font-family: "Fascinate", cursive;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.95);
  background-color: #fff;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 5px;
}

.main-heading-text {
  color: #fff;
  font-size: 4rem;
  line-height: 1.25;
  text-transform: capitalize;
  margin-top: 2rem;
}

.margin-left-sm {
  margin-left: 10rem;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-left: -10rem;
}

.btn {
  margin-top: 2rem;
  stroke: #fff;
  height: 48px;
  width: 48px;
}

@media only screen and (max-width: 600px) {
  .main-section-div {
    width: 40rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .primary-heading {
    font-size: 6rem;
  }

  .logo-name {
    font-size: 4rem;
    margin: 1rem 0 0 0;
  }

  .main-heading-text {
    font-size: 2rem;
    margin: 1rem 0 0 0;
  }

  .logo-img {
    width: 100px;
  }

  .btn-div {
    padding-bottom: 2rem;
  }
}
