@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto+Mono:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  line-height: 1;
  font-weight: 400;
}

/**************************/
/* MAIN SECTION */
/**************************/

.main-section {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(images/background1.png);
  background-size: cover;
}

.main-section-div {
  height: 100vh;
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.logo-img {
  width: 90%;
  padding-left: 2rem;
}

.primary-heading {
  color: #fff;
  font-size: 14rem;
  text-transform: uppercase;
}

.logo-name {
  display: inline-block;
  font-size: 10rem;
  font-family: "Fascinate", cursive;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.95);
  background-color: #fff;
  padding: 0 2rem;
  margin-top: 6rem;
  border-radius: 5px;
}

.main-heading-text {
  color: #fff;
  font-size: 4rem;
  line-height: 1.25;
  text-transform: capitalize;
  margin-top: 4rem;
}

.margin-left-sm {
  margin-left: 6rem;
}

/**************************/
/* LOGOS */
/**************************/

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 4rem;
}

.btn {
  margin-top: 2rem;
  stroke: #fff;
  height: 52px;
  width: 52px;
}

/**************************/
/* RESPONSIVE DESIGN */
/**************************/

@media (max-width: 1000px) {
  /* body {
    background-size: auto;
  } */

  .main-section-div {
    margin: 0 6rem;
    display: grid;
    grid-template-rows: 50% 1fr;
    justify-items: center;
    row-gap: 0;
  }

  .logo-img {
    width: 80%;
    margin-left: 1rem;
    padding: 0;
  }

  .primary-heading {
    font-size: 6rem;
  }

  .logo-name {
    font-size: 4rem;
    margin: 2rem 0 0 0;
  }

  .main-heading-text {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .btn-box {
    margin: 0;
  }

  .btn {
    height: 32px;
    width: 32px;
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
