/**************************************/
/* _base.css */
/**************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include responsive-size(large) {
    font-size: 50%;
  }

  @include responsive-size(medium) {
    font-size: 40%;
  }

  @include responsive-size(special-800) {
    font-size: 30%;
  }

  @include responsive-size(small) {
    font-size: 28%;
  }

  @include responsive-size(special-550) {
    font-size: 24%;
  }

  @include responsive-size(special-460) {
    font-size: 20%;
  }
}

body {
  box-sizing: border-box;

  color: #fff;

  background-image: linear-gradient(
    to bottom right,
    $gradient-color-1,
    $gradient-color-2
  );
}

body::-webkit-scrollbar {
  display: none;
}

/**************************************/
/* EOF */
/**************************************/
