/*********************************************
 *  Base
 *********************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respondTo(phone) {
    font-size: 37.5%;
  }
}

body {
  background-image: linear-gradient(
    96deg,
    $color-background-blue-primary,
    $color-background-blue-secondary
  );

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:link {
  &:focus {
    outline: none;
  }
}

/*********************************************
 *  EOF
 *********************************************/
