/*********************************************
 *  Variables
 *********************************************/

$color-white: #fff;
$color-black: #000;

$color-background-blue-primary: #0000ffff;
$color-background-blue-secondary: #2ad4ffff;

$color-blue-gradient: linear-gradient(
  to bottom right,
  rgba($color-background-blue-primary, 0.8),
  rgba($color-background-blue-secondary, 0.8)
);
/*********************************************
 *  EOF
 *********************************************/
