/**************************************/
/* _footer.scss
/**************************************/

.footer {
  padding: 4rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    max-width: 120rem;
    margin: 0 auto;

    @include responsive-size(small) {
      max-width: 110rem;
    }

    @include responsive-size(small) {
      grid-template-columns: 1.2fr 0.8fr;
    }
  }

  &__contact-container {
    padding: 1rem 0;

    border-radius: 11px;
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: inherit;

    gap: 1.2rem;
  }

  & input,
  & textarea {
    border: none;
    background-color: $color-white;

    font-size: 2.6rem;
    font-family: inherit;
    color: $text-color-gradient;
    width: 80%;
    border-radius: 6px;

    padding: 0.8rem 1rem;

    &::placeholder {
      color: rgba($text-color-gradient, 0.8);
    }

    &:focus {
      outline: none;
    }

    @include responsive-size(small) {
      font-size: 4.6rem;
      padding: 1rem 2rem;
    }
  }

  & textarea {
    resize: none;
  }

  &__btn {
    font-family: inherit;

    display: inline-block;
    background-color: $color-white;
    color: $text-color-gradient;
    font-size: 2.6rem;
    padding: 0.6rem 1.4rem;
    border-radius: 6px;

    border: none;

    align-self: flex-start;

    cursor: pointer;

    @include responsive-size(small) {
      font-size: 4.6rem;
      padding: 1rem 2rem;
    }
  }

  &__links-container {
    display: flex;
    flex-direction: column;

    gap: 2rem;
  }

  &__link-heading {
    font-size: 6rem;

    @include responsive-size(small) {
      margin-bottom: 0.4em;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 2rem;
  }

  &__link {
    display: inline-block;
    background-color: $color-white;
    color: $text-color-gradient;
    font-size: 2.6rem;
    padding: 0.4rem 1rem;
    border-radius: 11px;

    text-decoration: none;

    @include responsive-size(small) {
      font-size: 3.6rem;
      padding: 1rem 2rem;
    }
  }
}

/**************************************/
/* EOF
/**************************************/
