/**************************************/
/* _typography.scss */
/**************************************/

@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700;900&display=swap");

body {
  font-family: "Gabarito", sans-serif;
  text-transform: capitalize;
}

.header {
  text-align: center;

  &__text {
    &--bg {
      font-size: 18rem;
    }

    &--md {
      font-size: 12rem;

      margin-top: -2rem;
    }

    &--sm {
      font-size: 4rem;
    }

    &--span {
      color: $text-color-gradient;
      background-color: $color-white;

      border-radius: 6px;
      padding: 0 1rem;
    }
  }
}

.section-skill__heading p,
.section-projects__heading p,
.footer__heading p {
  font-size: 8rem;

  text-decoration: underline;
  display: inline-block;
  border-radius: 11px;
}

/**************************************/
/* EOF */
/**************************************/
