/**************************************/
/* _variables.scss */
/**************************************/

$gradient-color-1: #2c4ee7;
$gradient-color-2: #480fb1;

$text-color-gradient: #231696;

$color-white: #fff;
$color-black: #000;

/**************************************/
/* EOF */
/**************************************/
